@media print {
  .printhide,
  .char--main {
    display: none;
  }
  .printshow {
    display: block;
  }
}
.char-wrap {
  padding: 30px;
}
.char--layout {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.char--sheet {
  width: 900px;
}
