@media print {
  .printhide {
    display: none;
  }
  .printshow {
    display: block;
  }
}
.char-wrap {
  padding: 30px;
}
.char--layout {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 95%;
}
.char--sheet {
  width: 900px;
  margin-right: 10px;
}
.char--info {
  margin: 10px 0;
}
